name: DevSecOps Pipeline

on:
  push:
    branches:
      - main

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install bandit safety

   
    - name: Run Bandit
      run: bandit -r api --severity-level high

    - name: Dependency Scan
      run: safety check -r requirements.txt

   
    - name: Build Docker image
      run: docker build -t devsecops-api .

    
    - name: Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: devsecops-api
        severity: CRITICAL,HIGH
        exit-code: 1
